/***************../fonts************************************/
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'),
        url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'),
        url('../fonts/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/*********Global styles*******/
*{
box-sizing:border-box;
}

body{
    margin: 0;
    font-family: Roboto;
}

header,section{
    max-width: 720px;
    margin: 0 auto;
}

.container{
width: 85%;
margin: 0 auto;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.title{
    padding: 0;
    margin: 0;
    font-size: 40.5px;
    font-weight: 900;
    letter-spacing: 1.62px;
    text-align: left;
    text-transform: uppercase;
    }
.title span{
        display: block;
        width: 67px;
        height: 4px;
        margin-top: 8px;
        background-color: #79239f;
    }
/****************************Header****************************/

.header{
    background-image: url(../images/banner-bg.jpg),  linear-gradient(to top, rgba(0, 0, 0, 0.6), #000000);
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;
    color: #ffffff;
}
.nav{
background-color: #561075;
font-size: 14px;
font-weight: 900;
}
.nav__list{
    display: flex;
    align-items: center;
}
.nav__item{
    font-family: Roboto;
  font-size: 14px;
  font-weight: 900;
}
.nav__item .lang{
    display: inline-block;
    padding: 29px 20px 26px 20px;
}

.nav__item:first-of-type{
    margin-right: auto;
}
.nav__item:last-of-type{
    padding-left: 31px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
   
}
.lang{
    transition: color 0.3s ease-in;
    transition:background 0.6s ease-in;
}
.lang.active{
    background:#4d0d69;
    color: #9f67b8;
}
.header__text{
    width: 65%;
    margin: 17% auto 0;
    font-size: 37px;
    font-weight: 300;
    text-align: center;
    opacity: 0.8;
}
.header__text span{
    font-weight: 500;
    opacity: 1;
}
.header__tel{
    margin-top: 2.4%;
    padding-bottom: 19%;
    font-size: 44px;
    font-weight: 900;
}
.header__tel a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__tel span{
    width: 5px;
    height: 5px;
    margin: 0 13px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.2;
}

/*****************Section Contacts************************/
.contacts{
    padding:6% 0 7% 0;
    color: #000000;
    background-color: #ffffff;
}

.contacts__department{
    margin: 45px 0 30px 0;
    font-size: 30.5px;
    font-weight: bold;
    text-transform: uppercase;
}
.contacts__info div{
    margin-top: 24px;
    font-size: 19.5px;
    font-weight: normal;
}
.contacts__info div img{
    padding-right: 12px;
}
.contacts__info-address a:last-of-type{
    display: inline-block;
    margin-top: 15px;
    margin-left: 21px;
    color: #79239f;
    font-size: 16px;
    text-decoration: underline  rgba(0,0,0, 0.1);
}
.contacts__info-phone{
    font-size: 21.5px;
}
.contacts__info-phone a+a{
    padding-left: 27px;
}
.contacts__info-mail{
    margin-top: 23px;
}
/*******************************Form*******************************/
.form{
    padding:6.1% 0 8% 0;
    background-color:#f1f2f3;
}
.form__title{
margin-bottom: 44px;
}
.form__container{
    display: flex;
    flex-wrap: wrap;
    font-size: 18.5px;
}
.form__container .custom-select{
    margin-bottom: 17px;
}
.form__container input{
    width: 100%;
    margin-bottom: 16px;
    padding: 20px 26px 22px 26px;
    border: none;
}
.form__container textarea{
    width: 100%;
    height: 205px;
    padding: 18px 26px 0 26px;
    border: none;
    resize: none;
}
.form__container button{
    width: 100%;
    margin-top: 37px;
    padding: 25px 0 24px 0;
    background-color: #561075;
    color: #ffffff;
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 0.88px;
    text-transform: uppercase;
    border:none;
    outline: none;
    cursor: pointer;
}


/*************************Custom checkbox****************************/
.custom__checkbox{
    display: block;
    position: relative;
    padding-left: 40px;
    margin: 30px 0 0 0;
    cursor: pointer;
    font-size: 18.5px;
    font-weight: normal;
    user-select: none;
}
.custom__checkbox input{
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    cursor: pointer;
}
.custom__checkbox .checkmark{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
}
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .custom__checkbox input:checked ~.checkmark:after {
    display: block;
  }
  .custom__checkbox .checkmark:after {
    left: 15px;
    top: -8px;
    width: 8px;
    height: 22px;
    border: solid #561075;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

  /**********************Custom Select*********************/
  .custom-select {
    width: 100%;
    position: relative;
    font-size: 18.5px;
    font-weight: normal;
  }
  .custom-select select {
    display: none; 
  }
  .select-selected {
    background-color: #fff;
  }
  .select-selected:after {
    position: absolute;
    content: "";
    top: 35%;
    right: 22px;
    width: 12px;
    height: 12px;
    border: solid #000;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
  }
  .select-selected.select-arrow-active:after {
    border-width:  1px 0 0 1px ;
  }
  .select-items div,.select-selected {
    padding: 18px 18px 19px 26px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  .select-items {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 5;
  }  
  .select-hide {
    display: none;
  }
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }


  /************************Media********************************/
  @media (max-width:500px) {
    .title{
        padding: 0;
        margin: 0;
        font-size: 30px;
  }
  .nav__list{
      flex-wrap: wrap;
     
  }
  .nav__item .lang{
    padding: 20px 15px 20px 15px;
  }
  .nav__item:last-of-type{
    width: 100%;
    padding: 10px 0 10px 0;
    text-align: center;
  }
  .header__text{
    width: 85%;
    font-size: 27px;
  }
  .header__tel{
    font-size: 30px;
  }
  .header__tel span{
    margin: 0 5px;
  }
  .contacts__department{
    font-size: 20px;
    margin: 25px 0 20px 0;
  }
  .contacts__info div{
    font-size: 16px;
    line-height: 1.5;
  }
  .contacts__info div a{
      display: block;
      text-align: left;
  }
  .contacts__info-address a:first-of-type{
      display: inline-block;
  }
  .contacts__info div img{
    padding-right: 5px;
}
.form__title{
    margin-bottom: 20px;
    }
.form__container{
    font-size: 16px;
    }
.form__container input{
    padding: 10px 16px 12px 16px;
}
.form__container textarea{
    padding: 18px 16px 0 16px;
}
.form__container button{
    padding: 15px 0 13px 0;
    font-size: 17px;
}
.custom__checkbox{
    font-size: 16px;
    margin: 20px 0 0 0;
}
.custom-select{
    font-size: 16px;
}
.select-items div,.select-selected{
    padding: 14px 14px 16px 18px;
}
}